.container{
	border: 1px solid #aaa;
	padding: 10px;
	margin: 10px;
}
.box{
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
	margin-right: 70px;
	display: inline-block;
	border: 1px solid #333;
	box-shadow: 0 0 5px rgba(0,0,0,.5)
}

/*CSS3 Animation*/
.move-right{
	-webkit-animation-name : move-right;
	-webkit-animation-duration : 1s;
	-webkit-animation-timing-function : ease;
	-webkit-animation-iteration-count : infinite;
	-webkit-animation-direction : alternate;
	-webkit-animation-play-state : running;
	-webkit-animation-delay : 2s ;
	/*-webkit-animation-fill-mode : ;*/
}

@-webkit-keyframes move-right{
	from{
		left:0;
		top:0;
	}
	to{
		left:100px;
		top:0;
	}
}

/*CSS3 2D Transform*/
.rotate {
	-webkit-transform:rotate(30deg);
}
.scale {
	-webkit-transform:scale(1.5)
}
.translate {
	-webkit-transform:translate(50px, 50px);
}
.skew {
	-webkit-transform:skew(15deg,-10deg)
}


/*CSS3 3D Transform*/
.container{
	-webkit-perspective:500px;
	webkit-perspective-origin:50% 50%;

}

.top-bottom {
  -webkit-perspective-origin:25% 25%;
}

.left-right{
}

.rotateY {
	width: 150px;
	height: 150px;
	-webkit-transform:rotateY(50deg);
	margin-left: 100px;
}

.spinY-3D {
	-webkit-animation-name : spinY-3D;
	-webkit-animation-duration : 1s;
	-webkit-animation-timing-function : linear;
	-webkit-animation-iteration-count : infinite;
	/*-webkit-animation-direction : alternate;*/
	/*-webkit-animation-play-state : running;*/
	/*-webkit-animation-delay : 2s ;*/
	/*-webkit-animation-fill-mode : ;*/
}

@-webkit-keyframes spinY-3D{
	from{
			-webkit-transform:rotateY(0deg);
	}
	to{
			-webkit-transform:rotateY(360deg);
	}
}

.rotateX {
	width: 150px;
	height: 150px;
	/*-webkit-transform:rotateY(50deg);*/
	margin-left: 100px;
}

.spinX-3D {
	-webkit-animation-name : spinX-3D;
	-webkit-animation-duration : 1s;
	-webkit-animation-timing-function : linear;
	-webkit-animation-iteration-count : infinite;
	/*-webkit-animation-direction : alternate;*/
	/*-webkit-animation-play-state : running;*/
	/*-webkit-animation-delay : 2s ;*/
	/*-webkit-animation-fill-mode : ;*/
}

@-webkit-keyframes spinX-3D{
	from{
			-webkit-transform:rotateX(0deg);
	}
	to{
			-webkit-transform:rotateX(360deg);
	}
}